extends layout

block content
    div.container-lg#title
        h1 About this project
    div.container-lg#form-area
        div.form-container
            div.container-lg
                h1.formTitle There once was a college student...
                p who was trying to figure out his 
