extends layout

block content
    div.container
        div.row
            div.col-xs-8
                label Classes: (e.g CAS CS 111)
                form.form-inline#Inputs
                    .form-group.courseinput#1
                        .form-group
                            label 1: 
                            |       
                            input.form-control.college(type='text', placeholder='College' maxlength=3)
                        |     
                        .form-group
                            input.form-control.department(type='text', placeholder='Department' maxlength=2)
                        |     
                        .form-group
                            input.form-control.courseNum(type='text', placeholder='Course Number' maxlength=3)
                form.form-inline#Submit
                    .form-group
                        .form-group
                            label Semester: 
                            |       
                            input.form-control.year(type='text', placeholder='Year' maxlength=4 tabindex='-1')
                        |     
                        .form-group
                            select.form-control(tabindex='-1')
                                option Fall
                                option Spring
                                option Summer 1
                                option Summer 2
                        |     
                        .form-group
                            button.btn.btn-default.search(tabindex='-1') Search!
            div.col-xs-4
                div.panel.panel-info
                    div.panel-heading How To Use This Tool
                    div.panel-body First type the classes you wish to take
            
