doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width initial-scale=1")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/mockup.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src='../javascripts/mockup-global.js')
        //script(src='/javascripts/mockup.js')
    body
        header.globalNav
            div.container-lg
                ul.navRoot
                    li.navSection.logo
                        a.rootLink 
                            h1 AntZer
                    li.navSection.generalInfo
                        a.rootLink.aboutLink About
                        a.rootLink.contactLink Contact
        div.globalContent
            main
                header
                    div.background
                        div#topLayer
                        div#bottomLayer
                    section#intro
                section.container-lg#title
                    h1 We got the #[span Antzer] to all your problems.
                section.container-lg#form-area
                    svg.form-skeleton(width="100%", height="670px", viewBox="-9 -7 1018 626")
                        defs
                            path#path-1(d="M460,40 C460,17.90861 477.90861,0 500,0 C522.09139,0 540,17.90861 540,40 L985.001778,40 C993.285067,40 1000,46.7245181 1000,55.0098435 L1000,592.990156 C1000,601.279864 993.28292,608 985.001778,608 L14.9982222,608 C6.71493281,608 0,601.275482 0,592.990156 L0,55.0098435 C0,46.7201358 6.71708034,40 14.9982222,40 L460,40 Z M500.5,67 C515.135546,67 527,55.1355459 527,40.5 C527,25.8644541 515.135546,14 500.5,14 C485.864454,14 474,25.8644541 474,40.5 C474,55.1355459 485.864454,67 500.5,67 Z")
                            filter(width="120%",height="120%",filterUnits="objectBoundingBox", id="filter-2")
                                feMorphology(radius="1",operator="dilate", in="SourceAlpha",result="shadowSpreadOuter1")
                                feOffset(dx="0",dy="2",in="shadowSpreadOuter1",result="shadowOffsetOuter1")
                                feGaussianBlur(stdDeviation="3.5",in="shadowOffsetOuter1",result="shadowBlurOuter1")
                                feColorMatrix(values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.472854393 0",type="matrix",in="shadowBlurOuter1")
                        g(id="Form-Template",stroke="none",fill="none")
                            use(fill="black",fill-opacity="1",filter="url(#filter-2)",xlink:href="#path-1")
                            use(fill="#FAFAFA",fill-rule="evenodd",xlink:href="#path-1")
                    div.form-container
                        div.container-lg
                            h1.formTitle What classes are you interested in?
                        div.courseinput#course1
                            span.input.input--yoshiko
                                input#input-1.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-1')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COLLEGE") COLLEGE
                            span.input.input--yoshiko
                                input#input-2.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-2')
                                    span.input__label-content.input__label-content--yoshiko(data-content="DEPARTMENT") DEPARTMENT
                            span.input.input--yoshiko
                                input#input-3.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-3')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COURSE NO.") COURSE NO.
                        div.courseinput#course2
                            span.input.input--yoshiko
                                input#input-1.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-1')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COLLEGE") COLLEGE
                            span.input.input--yoshiko
                                input#input-2.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-2')
                                    span.input__label-content.input__label-content--yoshiko(data-content="DEPARTMENT") DEPARTMENT
                            span.input.input--yoshiko
                                input#input-3.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-3')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COURSE NO.") COURSE NO.
                        div.courseinput#course3
                            span.input.input--yoshiko
                                input#input-1.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-1')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COLLEGE") COLLEGE
                            span.input.input--yoshiko
                                input#input-2.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-2')
                                    span.input__label-content.input__label-content--yoshiko(data-content="DEPARTMENT") DEPARTMENT
                            span.input.input--yoshiko
                                input#input-3.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-3')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COURSE NO.") COURSE NO.
                        div.courseinput#course4
                            span.input.input--yoshiko
                                input#input-1.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-1')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COLLEGE") COLLEGE
                            span.input.input--yoshiko
                                input#input-2.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-2')
                                    span.input__label-content.input__label-content--yoshiko(data-content="DEPARTMENT") DEPARTMENT
                            span.input.input--yoshiko
                                input#input-3.input__field.input__field--yoshiko(type='text')
                                label.input__label.input__label--yoshiko(for='input-3')
                                    span.input__label-content.input__label-content--yoshiko(data-content="COURSE NO.") COURSE NO.
                        div.nextContainer
                            input.next(type="submit" value="NEXT")
            script(src='../javascripts/classie.js')
            script.
                (function() {
                    if (!String.prototype.trim) {
                        (function() {
                            var rtrim = /^[\s\uFEFF\xA0]+|[\s\uFEFF\xA0]+$/g;
                            String.prototype.trim = function() {
                                return this.replace(rtrim, '');
                            };
                        })();
                    }
                    [].slice.call( document.querySelectorAll( 'input.input__field' ) ).forEach( function( inputEl ) {
                        if( inputEl.value.trim() !== '' ) {
                            classie.add( inputEl.parentNode, 'input--filled' );
                        }
                        inputEl.addEventListener( 'focus', onInputFocus );
                        inputEl.addEventListener( 'blur', onInputBlur );
                    });
                    function onInputFocus(ev) {
                        classie.add( ev.target.parentNode, 'input--filled' );
                    }
                    function onInputBlur( ev ) {
                        if( ev.target.value.trim() === '' ) {
                            classie.remove( ev.target.parentNode, 'input--filled' );
                        }
                    }
                })();
		
