@font-face {
    font-family: Painter;
    src: url(../assets/fonts/Painter.ttf);
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FAFAFA;
    min-height: 100%;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    font-size: 62.5%;
    font-family: Montserrat, Open Sans,Segoe UI,sans-serif;
    font-weight: 100;
    font-style: normal;
}

main header {
    position: relative;
}

ol, ul {
    list-style: none;
}

li {
    display: inline-block;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#title {
    position: relative;
    bottom: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title h1 {
    font-family: Montserrat, Open Sans,Segoe UI,sans-serif;
    font-weight: 100;
    font-size: 40px;
    font-style: normal;
    align-self: center;
    color: #FAFAFA;
}

#form-area {
    position: relative;
    bottom: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    z-index: 0;
}

.form-container {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
}

.globalNav {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    z-index: 500;
    height: 50px;
    perspective: 2000px;
}

.globalNav a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #FAFAFA;
}

.globalNav .navRoot {
    position: relative;
}

.globalNav ul {
    padding: 0;
    margin: 0;
}

.globalNav li {
    list-style: none;
}

.globalNav .navSection.logo {
    display: flex;
    top: 0;
    left: 0;
}

.globalNav .navSection.logo .rootLink {
    padding-left: 40px!important;
}

.globalNav h1 {
    line-height: 50px;
    font-size: 20px;
    margin: 0;
    font-weight: 100;
}

.container, .container-fluid, .container-lg, .container-wide, .container-xl {
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.globalNav>.container-lg {
    padding: 0;
}

.container, .container-lg {
    max-width: 1040px;
}

.rootLink h1 {
    font-family: Painter;
    font-size: 32px;
}

.globalNav .rootLink {
    display: inline-block;
    height: 50px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 17px;
    line-height: 50px;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
}

#topLayer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient(135deg, #CD4242 0%, #FF7905 73%, #FFDEA6 100%);
    position: absolute;
    z-index: -1;
}

#bottomLayer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(12deg);
    transform-origin: 100%;
    background: linear-gradient(270deg, #742E2E 0%, #FF7040 43%, #E3F0B4 100%);
    position: absolute;
    z-index: -2;
}

.contactLink {
    padding-right: 40px !important;
}

.globalNav .navSection.generalInfo {
    position: absolute;
    top: 0;
    right: 0;
}

.globalNav .navSection.generalInfo {
    display: none;
}

@media (min-width: 670px) {
    .globalNav .navSection.logo, .globalNav .navSection.generalInfo {
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 880px) {
    #intro {
        height:550px
    }
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(4em + 1px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #fff;
    resize: none;
    outline: none;
    border-radius: 3px;
}

input[type="text"][required]:focus {
    border-color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before {
    color: #00bafa;
}
input[type="text"][required]:focus + label[placeholder]:before,
input[type="text"][required]:valid + label[placeholder]:before {
    transition-duration: .2s;
    transform: translate(0, -1.5em) scale(0.9, 0.9);
}

input[type="text"][required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
}

input[type="text"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: calc(-6em + 3px);
    margin-bottom: calc((3em - 1em) + 2px);
}

input[type="text"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    padding: 0 2px;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #fff, #fff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
}
