body {
  padding: 50px;
}

.form-inline {
    margin-bottom: 5px;
}

.disableddiv {
    pointer-events: none;
    opacity: 0.3;
}

form .form-group {
    margin-bottom: 2px !important;
}

input {
	text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
